<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="categories content">
      <h2>All Categories</h2>

      <div>
        <% if (categories.length > 0) { %>
          <ul class="categories-list">
            <% categories.forEach(category => { %>
              <li>
                <a href="<%= category.url %>">
                  <h3 class="category-title"><%= category.name %></h3>
                </a>
              </li>
            <% }) %>
          </ul>
        <% } else { %>
          <p>There are no categories to display</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
