<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="home content">

        <h1 class="home-title">🌱 Plant Manager</h1>


        <div class="site-credits">
            <a href="https://github.com/T-Khoury">
                <img src='/images/github.svg' />
                T-Khoury
            </a>
            <a href="https://perenual.com/docs/api">
                <img src='/images/green-logo-sm.svg' />
                Perenual API
            </a>
        </div>

    </div>
  </body>
</html>