@counter-style plants {
  system: cyclic;
  symbols: 🌱;
  suffix: " ";
}

@font-face {
  font-family: MadimiOne-Regular;
  src: url(../fonts/MadimiOne-Regular.ttf);
}

@font-face {
  font-family: NotoSans-Regular;
  src: url(../fonts/NotoSans-Regular.ttf);
}

body {
  padding: 35px;
  font-family: NotoSans-Regular, "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 100%;
  height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "side-nav main";
  background-color: #e9f5db;
  color: #325832;
  box-sizing: border-box;
}

a {
  /* color: #00B7FF; */
  color: #325832;
  text-decoration: none;
}

h1 {
  font-size: 2.2rem;
  margin: 0;
}

select {
  background-color: white;
}

textarea#description {
  max-width: 20rem;
  min-width: 8rem;
  min-height: 8rem;
  padding: 6px;
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  padding: 10px 6px 10px 10px;
  box-sizing: border-box;
}

.card-image {
  width: 100%;
  height: 80%;
}

.card-image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-name {
  font-size: 1rem;
  margin: 0;
  font-family: MadimiOne-Regular, sans-serif;
  font-weight: 300;
}


.category-items-container, .all-items-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 20px;
}

.category-items-container > a, .all-items-container > a {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 10px;
}

.categories-list {
  list-style: plants;
}

.create-item, .create-category {
  padding: 2rem;
}

.create-item form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr) .75fr;
  grid-template-areas: 
  "name description"
  "category description"
  "price description"
  "stock description"
  "button button";
  width: fit-content;
  gap: 15px;
  max-height: 50vh;
}


.default-image {
  width: 200px;
}

.delete-update-button, .submit-button {
  background-color: #325832; 
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.delete-update-button:hover, .submit-button:hover {
  background-color: #45a049;
}

.form-control {
  width: 300px;
  height: 2.3rem;
  border: 1px solid #E5E7EB;
  font-size: .9rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-size: 4rem;
  position: relative;
  bottom: 1rem;
  right: 1rem;
}

.home-title, .site-title {
  font-family: MadimiOne-Regular, sans-serif;
}

.item-card {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.item-detail {
  display: flex;
  max-height: 70vh;
}

.item-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 10%;
}

.item-details b {
  padding-right: 3px;
}


.item-image {
  flex: 1 0 35%;
}

.item-image img {
  max-width: 100%;
  border-radius: 8px;
}

.nav-menu {
  /* list-style: none; */
  margin-block: 0px;
  padding-inline-start: 0px;
  padding: 16px 0px;
  list-style-type: none;
  inset: 0px;
  overflow: hidden auto;
  font-family: MadimiOne-Regular, sans-serif;
}

.nav-menu > li {
  margin: 1rem 0 1rem 10px;
  font-size: 1.1rem;
}

.nav-menu li:hover {
  scale: 1.08;
}

.nav-menu a:hover {
  color: #000;
}
.quantity-and-price {
  display: flex;
  gap: 10px;
  font-weight: 600;
}
.side-nav {
  grid-area: side-nav;
  margin-right: 3rem;
  height: 100%;
}

.site-credits {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  height: 6rem;
  width: fit-content;
  padding: 6px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #325832;
}

.site-credits a {
  padding: 6px 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  color: #000;
  transition: all .3s ease-out .15s;
}

.site-credits a:hover {
  scale: 1.08;
  background-color: #9ef09e;
}

.site-credits img {
  height: 1.5rem;
  width: 1.5rem;
}



.stock-and-price {
  display: flex;
  scale: 0.9;
  height: 100%;
  align-items: end;
  flex-direction: column;
}

.stock-and-price p {
  margin: 0;
}

.stock, .price {
  display: flex;
  align-items: center;
}

.stock img, .price img {
  scale: 0.75;
}

.submit-button {
  grid-area: button;
}

#category-form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#category-form .submit-button {
  width: 100%;
  height: 2.5rem;
}

#item-category-input {
  grid-area: category;
}

#item-description-input {
  grid-area: description;
}

#item-description-input textarea {
  height: 300px;
}

#item-name-input {
  grid-area: name;
}

#item-price-input {
  grid-area: price;
}

#item-stock-input {
  grid-area: stock;
}